body{
    background-color: #999999;
}

.insert1{
    font-size: 2em;
    color: red;
}

.input1-width{
    width: 100%;
    margin: auto
}
@media (min-width: 992px){
    .input1-width{
        width: 50%;
    }
}